.pagination {
    border-radius: 50%;
    justify-content: center;
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    border-radius: 50%;
    background-color: #c4d3d4 ;
    border-color: #404849 ;
    color: #fff;
  }
  .pagination > li > a{
    border-radius: 50%;
    border: 1px solid #264549 ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #131616 ;
    border-color: #0c1213;
    border-radius: 50%;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    border-radius: 50%;
    color: #222a2b
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius:  2%
  }